[submodule "DuskGameEngine/vendor/spdlog"]
	path = DuskGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DuskGameEngine/vendor/GLFW"]
	path = DuskGameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "DuskGameEngine/vendor/imgui"]
	path = DuskGameEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
